.carouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}
