.container {
    margin-top: 20px;
    width: 817px;
    height: 425px;
    border-radius: 32px;
    background: linear-gradient(to bottom right, #AD36CB 27%, #333333 69%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date {
    margin-left: 28px;
    width: 130px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #fff;
}

.city h3 {
    font-weight: 200;
    font-size: 30px;
}

.city {
    display: flex;
    margin-left: 28px;
    align-items: center;
}

.city img {
    width: 31px;
    height: 31px;
}

.temperature {
    display: flex;
    align-items: center;
    justify-content: center;
}

.temperatureImg {
    width: 19px;
    height: 62px;
}

.weather {
    width: 10%
}

.temperature h4 {
    font-weight: 200;
    font-size: 70px;
    margin: 0 25px;
}

.weatherInfo {
    display: flex;
    justify-content: space-around;
    font-size: 20px;

}

.info {
    display: flex;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
}