.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 60%;
    height: 66px;
    border-radius: 25px;
    background-color: #d9d9d9;
    font-weight: 200;
    font-size: 30px;
    padding-left: 5%;
}

.input::placeholder {
    font-weight: 200;
    font-size: 30px;
    color: #524e4e;
}

.search {
    cursor: pointer;
    position: absolute;
    width: 45px;
    left: 18%;
    top: 45%;
    transform: translateY(-50%);
}
