.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input {
    width: 711px;
    height: 66px;
    border-radius: 25px;
    background-color: #D9D9D9;
    font-weight: 200;
    font-size: 30px;
    padding-left: 102px;
}

.input::placeholder {
    font-weight: 200;
    font-size: 30px;
    color: #524E4E;
}

.search {

    cursor: pointer;
    position: absolute;
    width: 45px;
    left: 330px;
    top: 33px;
    transform: translateY(-50%);
}